<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Viernes"
            android:label="@string/title_activity_viernes"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Jueves"
            android:label="@string/title_activity_jueves"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Miercoles"
            android:label="@string/title_activity_miercoles"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Martes"
            android:label="@string/title_activity_martes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lunes"
            android:label="@string/title_activity_lunes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Gluteos"
            android:label="@string/title_activity_gluteos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Abdomen"
            android:label="@string/title_activity_abdomen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pierna"
            android:label="@string/title_activity_pierna"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pechos"
            android:label="@string/title_activity_pechos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Brazo"
            android:label="@string/title_activity_brazo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".hombros"
            android:label="@string/title_activity_hombros"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>